.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-left: 20px;
}

.category-btn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  padding: 10px 12px;
  background-color:transparent;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 35px;

}


.category-btn.active {
  background-color: #000;
  color: #fff;
}

.headlines-header {
  display: block;
}

/* ✅ Correct dark mode styles */
body.dark-mode .category-btn {
  background-color: black;
  color: white;
}

body.dark-mode .category-btn:hover {
  background-color: #111;
}

body.dark-mode .category-btn.active {
  background-color: white;
  color: black;
}